# Format: //devtools/kokoro/config/proto/build.proto

build_file: "git/external/python/cpython3/kokoro/kokoro_build.sh"
container_properties {
  # docker:29.2.1-cli-alpine3.23 via go/airlock
  docker_image: "us-docker.pkg.dev/artifact-foundry-prod/docker-3p-trusted/docker@sha256:1d6d751f1d68d1a5142c23c730ef5ecc976a8e050fa08c3cdb09f7e2e54a4439"
  # Allow running docker commands from inside the container, which allows us
  # to easily control the docker container contents from the Dockerfile in
  # this directory.
  docker_sibling_containers: true
}
